.challengesList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.customModalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #eeeadc;
	width: 80vw;
	height: auto;
	border-radius: 7px;
	padding: 20px 40px;
	box-shadow: 0 0 15px 0 black;
}

.selectedCardImage {
	width: 70%;
	height: auto;
	margin: 0 auto;

	/* object-fit: cover; */
}

.routeImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 0 0 15px 0 black;
}

.selectedChallenge {
	font-family: "Lato";
	font-style: italic;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #123524;
}

.selectedChallenge h2 {
	text-align: center;
	margin: 0 0 10px;
	font-size: 3rem;
	font-weight: 700;
}

.selectedChallenge p {
	font-size: 1.5rem;
}

.distanceSelected {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}

.customStartButton {
	margin: 0 auto;
}
