/* 
.MediumLightGreenButton {
    font-family: 'Lato', bold;
    color: #123524;
    background-color: #12352450;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    font-size: clamp(12px, 2vw, 14px);
    cursor: pointer;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
} */