body {
  background-color: #efe3c2;
  margin: 0 auto;
  width: 100vw;
}

.title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.title h1 {
  margin-bottom: 10px;
  font-family: "DynaPuff";
  color: #123524;
}

.title h2 {
  font-family: "Lato";
  font-style: italic;
  color: #123524;
}

/* .button-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.button-container > :nth-child(2) {
    justify-self: end;
}

.filter-button {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px; 
}

.filter-button > :nth-child(1) {
    justify-self: right;
}
 */
