/* .joinUsFormStyle {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.joinUsFormStyle input {
	padding: 5px 10px;
	font-style: italic;
	background-color: #f2f0ea;
}

.joinUsFormStyle h2 {
	color: #123524;
} */
