/* body {
	margin: 0 auto;
	width: 100vw;
	overflow-x: hidden;
}
.BoxContainer {
	background-color: rgba(102, 119, 51, 0.5);
	width: 100%;
	height: auto;
	padding: 15px 30px;
	border-radius: 5px;
	box-shadow: 0 0 15px 0 black;
}
p {
	font-size: 2rem;
	color: #123524;
}
.ProgresBar {
	margin-top: 20px;
	width: 100%;
	background: #ddd;
	height: 30px;
	border-radius: 10px;
	overflow: hidden;
}
.ProgresBarFilled {
	height: 100%;
	transition: width 0.3s ease-in-out;
}
.ProgresDetails {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
.ProgresDetails h3 {
	font-size: 2rem;
	color: #123524;
} */
